<% # crudely pilfered from the library home page as of 3/16/2015 %>
<header id="first-navbar" role="banner">
  <div class="container-fluid" aria-labelledby="bannerHeading"
       aria-label="university of illinois library banner">
    <h1 class="sr-only">University Library, University of Illinois at Urbana-Champaign</h1>
    <div class="row">
      <div class="col-md-12" id="header-full-width-column">
        <div class="row">
          <div class="col-sm-6 col-md-7">
            <div>
              <%= image_tag('university_libraries_wordmark_with_imark_reverse.png',
                            alt: 'University of Illinois Library',
                            class: 'img-responsive', usemap: '#bannermap',
                            id: 'library-brand-img') %>
              <map name="bannermap">
                <area id="imark-img-area" shape="rect" coords="0,0,36,47"
                      href="http://illinois.edu/" alt="University of Illinois">
                <area id="library-banner-area" shape="rect" coords="37,0,472,47"
                      href="<%= root_path %>"
                      alt="University Library, University of Illinois at Urbana-Champaign">
              </map>
            </div>
          </div>
          <div id="site-header-controls-medium">
            <div class="col-sm-6 col-md-5">
              <span class="pull-right" style="padding-top:5px;">
                <form id="sitesearch" class="search form-inline " method="get"
                      action="http://www.library.illinois.edu/search.php"
                      role="search" aria-label="Search Library Webpages"
                      style="display:inline; padding-top:2px;">
                  <div class="form-group">
                    <input name="hl" value="en" type="hidden">
                    <input value="off" name="safe" type="hidden">
                    <input name="filter" value="0" type="hidden">
                    <div class="input-group">
                      <input id="searchQuery" class="form-control input-sm"
                             maxlength="1000" size="25" name="q"
                             placeholder="Search Library Webpages" type="text"
                             aria-required="true"
                             aria-label="Enter key words to search library web pages.  Press enter to submit.">
                      <span class="input-group-btn">
                         <button type="submit" class="btn btn-default btn-sm" alt="submit">
                           <span class="fa fa-search"><span class="sr-only">Search</span></span>
                         </button>
                      </span>
                    </div>
                    <label class="sr-only" for="searchQuery">Search Library Webpages</label>
                  </div>
                </form>
                <a id="myaccount" class="btn btn-default btn-sm"
                   href="https://vufind.carli.illinois.edu/vf-uiu/MyResearch/Home">
                  <span class="fa fa-user" aria-labelledby="my account"></span> My Account</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
